<div class="content">
    <div class="date-switch">
        <div class="date">{{currentMonth | date : 'MMMM yyyy'}}</div>
        <div class="button" (click)="toPreviousMonth()">
            <img src="assets/images/left-arrow.svg" alt="left-arrow">
        </div>
        <div class="button" (click)="toNextMonth()">
            <img src="assets/images/right-arrow.svg" alt="right-arrow">
        </div>
    </div>

    <div class="window">
        <div class="table">
            <div *ngFor="let week of monthTable" class="row">
                <div *ngFor="let dayOfWeek of week" class="cell">
                    <date-cell-component [dateModel]="dayOfWeek"
                                         (taskClickedEvent)="onTaskClicked($event)"
                                         [selectedTaskId]="selectedTaskId"></date-cell-component>
                </div>
            </div>
        </div>
    </div>
</div>
