.card-body{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
}

.close-button{
  margin: 10px;
  align-self: end;
}

label.inner-field{
  font-family: Roboto-Light, serif;
  font-size: 19px;
  margin-left: 50px;
}

.datetime-label{
  padding-bottom: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-family: Roboto-Medium, serif;
  width: 450px;
  cursor: default;
}

.datetime-block{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#date{
  width: 160px;
}

#repeat{
  margin-left: 10px;
  margin-bottom: 13px;
}

#title{
  margin-left: 50px;
  margin-bottom: 20px;
  width: 450px;
}

#description{
  padding: 10px;
  width: 470px;
}

#create{
  margin-left: 480px;
}
