.app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.sidebar-menu{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
}

.inner-content{
  padding: 0;
  flex-grow: 1;
}

.menu-header{
  display:inline-block;
  text-align: center;
  font-family: Roboto-Bold, serif;
  font-size: 25px;
  margin: 20px;
}

a.menu-button{
  padding: 10px 10px 10px 30px;
  font-family: Roboto, serif;
  font-size: 16px;
  text-decoration: none;
}

.active-button{
  color: #303030 !important;
  background-color: #F2F2F2  !important;
}

a.menu-button:visited{
  color: #747474;
}

a.menu-button:hover{
  background-color: #F2F2F2;
}

a.menu-button:link{
  color: #747474;
}

a.menu-button:active{
  background-color: #e8e8e8;
}
