<div class="card card-body">
  <button class="close-button" (click)="closeForm()"><img src="../../../../../assets/images/close-icon.svg" alt="cross-icon"></button>
  <form [formGroup]="viewModel.form" (ngSubmit)="updateList()">
    <div>
      <label for="title"></label>
      <input type="text" id="title" name="title" formControlName="title" class="title-input" placeholder="Название списка" autocomplete="off">
    </div>

    <div>
      <label for="color" class="inner-field">Цвет:</label>
      <input type="color" id="color" name="color" formControlName="color" placeholder="Выбор цвета">
    </div>

    <div class="buttons">
      <label for="delete"></label>
      <input type="button" value="Удалить" id="delete" name="create" class="red-button" (click)="deleteList()">
      <label for="edit"></label>
      <input type="submit" value="Сохранить" id="edit" name="create" class="wide-button" [disabled]="viewModel.form.invalid">
    </div>
  </form>
</div>
