.pull-content{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: 100%;
}

.sidebar-pull{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.25);
  padding-top: 30px;
}

a.list-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 10px;
  padding-left: 45px;
  font-family: Roboto, serif;
  font-size: 18px;
  color: #6B6B6B;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

a.list-button:hover{
  background-color: #F2F2F2;
}

a.list-button:active{
  background-color: #ececec;
}

.list-creation-button{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 30px;
  height: 30px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
}

.list-creation-button:hover{
  background-color: #F2F2F2;
}

.list-creation-button:active{
  background-color: #ececec;
}

.plus{
  margin-left: 1px;
  margin-top: 2px;
  user-select: none;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.task-details{
  justify-content: space-between;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 450px;
}

.colored-point {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 15px;
  border: 1px solid black;
}

.active-list-button{
  background-color: #F2F2F2;
}

.list-details{
  flex-grow: 1;
}

.tasks-count{
  margin-left: auto;
  margin-right: 13px;
  font-size: 15px;
  color: black;
}
