<div class="pull-content">
  <div class="sidebar-pull">
    <div class="buttons">
      <a class="list-button" *ngFor="let list of listsService.listsPull | async" (click)="setCurrentList(list.id)"
         [ngClass]="{'active-list-button': list.id === currentListId}">
        <div class="colored-point" [style.background-color]="list.color"></div>
        {{ list.title }}
        <div class="tasks-count" *ngIf="getTasksCount(list.id) | async ">{{getTasksCount(list.id) | async }}</div>
      </a>
    </div>
    <button class="list-creation-button" (click)="createNewList()" [hint]="'Создание списка'">
      <img src="../../../assets/images/list-creation-button.svg" alt="list-creation-button" class="plus">
    </button>
  </div>

  <div class="list-details">
    <handle-list [listId]="currentListId" (taskSelected)="onTaskSelected($event)"></handle-list>
  </div>

  <div class="task-details">
    <task-details [taskId]="currentTaskId"></task-details>
  </div>
</div>
