<div class="card card-body">
  <button class="close-button" (click)="closeForm()"><img src="../../../../../assets/images/close-icon.svg" alt="cross-icon"></button>
  <form [formGroup]="viewModel.form">
    <div>
      <label for="title"></label>
      <input type="text" id="title" name="title" formControlName="title" class="title-input" placeholder="Название списка" autocomplete="off">
    </div>

    <div>
      <label for="type" class="inner-field">Тип:</label>
      <select id="type" name="type" class="selection-box" formControlName="isAuto" [title]="listTypeHint">
        <option value="false" selected>Ручной</option>
        <option value="true">Автоматический</option>
      </select>
    </div>

    <div *ngIf="isAuto">
      <button class="add-filter-button" (click)="viewModel.addFilter()" [title]="filterHint"
              [disabled]="viewModel.filters.length >= 5">Добавить фильтр</button>
      <div formArrayName="filters">
        <div *ngFor="let filter of viewModel.filters.controls; let i = index">
          <div class="filter" [formGroupName]="i">
            <label for="filterType" class="inner-field">{{i + 1}}.  </label>
            <select id="filterType" name="filterType" class="selection-box" formControlName="filterType" (change)="setTemplate(i)">
              <option value="none" [defaultSelected]="true" disabled hidden>тип</option>
              <option value="timePeriod">по времени</option>
              <option value="priority">по приоритету</option>
              <option value="listAffiliation">по списку</option>
              <option value="completeness">завершенные</option>
              <option value="userTag">свой тег</option>
            </select>

            <button class="small-close-button" (click)="removeFilter(i)">✖</button>

            <br>
            <div *filterInput="inputTemplates[i]" ></div>

            <ng-template #timePeriod>
              <div formGroupName="inputData" class="date-input-field-group">
                <div class="label">c</div>
                <input id="startDate" type="date" formControlName="startDate" class="selection-box">
                <input id="startTime" type="time" formControlName="startTime" class="selection-box">
                <br>
                <div class="label">по</div>
                <input id="endDate" type="date" formControlName="endDate" class="selection-box">
                <input id="endTime" type="time" formControlName="endTime" class="selection-box">
              </div>
            </ng-template>

            <ng-template #priority>
              <div class="date-input-field-group">
                <button class="light-button" [ngClass]="{'selected-button': true}">Высокий</button>
                <button class="light-button" [ngClass]="{'selected-button': true}">Средний</button>
                <button class="light-button" [ngClass]="{'selected-button': true}">Низкий</button>
              </div>
            </ng-template>

            <ng-template #listAffiliation>
              list affiliation input
            </ng-template>

            <ng-template #completeness>
              <button>Завершено</button>
              <button>Не завершено</button>
            </ng-template>

            <ng-template #userTag>
              <input type="text" placeholder="userTag">
            </ng-template>

          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="color" class="inner-field">Цвет:</label>
      <input type="color" id="color" name="color" formControlName="color" placeholder="Выбор цвета">
    </div>

    <div class="buttons">
      <label for="create"></label>
      <input type="submit" value="Создать" id="create" name="create" class="wide-button"
             [disabled]="viewModel.form.invalid" (click)="addList()">
    </div>
  </form>
</div>
