<div class="card card-body">
  <button class="close-button" (click)="closeForm()"><img src="../../../../../assets/images/close-icon.svg" alt="cross-icon"></button>
  <form [formGroup]="viewModel.form">
    <div>
      <label for="title"></label>
      <input type="text" id="title" name="title" formControlName="title" class="title-input" placeholder="Название списка" autocomplete="off">
    </div>

    <div>
      <label for="type" class="inner-field" [hint]="listTypeHint">Тип:</label>
      <select id="type" name="type" class="selection-box" formControlName="isAuto">
        <option value="false" selected>Ручной</option>
        <option value="true">Автоматический</option>
      </select>
    </div>

    <div *ngIf="isAuto">
      <button class="add-filter-button" (click)="viewModel.addFilter()" [hint]="filterHint"
              [disabled]="viewModel.filters.length >= 5">Добавить фильтр</button>
      <div formArrayName="filters">
        <div *ngFor="let filter of viewModel.filters.controls; let i = index">
          <div class="filter" [formGroup]=getForm(i)>
            <label for="filterType" class="inner-field">{{i + 1}}.  </label>
            <select id="filterType" name="filterType" class="selection-box" formControlName="filterType" (change)="setTemplate(i)">
              <option value="none" [defaultSelected]="true" disabled hidden>тип</option>
              <option value="timePeriod" [disabled]="formHasControl('timePeriod')">по времени</option>
              <option value="priority" [disabled]="formHasControl('priority')">по приоритету</option>
              <option value="listAffiliation" [disabled]="formHasControl('listAffiliation')">по списку</option>
              <option value="completeness" [disabled]="formHasControl('completeness')">завершенные</option>
<!--              <option value="userTag" [disabled]="formHasControl('userTag')">свой тег</option>-->
            </select>

            <button class="small-close-button" (click)="removeFilter(i)">✖</button>

            <br>
            <div *filterInput="inputTemplates[i]"></div>

            <ng-template #timePeriod>
              <div formGroupName="inputData" class="input-field-group">
                <div class="label">c</div>
                <input id="startDate" type="date" formControlName="startDate" class="selection-box">
                <input id="startTime" type="time" formControlName="startTime" class="selection-box">
                <br>
                <div class="label">по</div>
                <input id="endDate" type="date" formControlName="endDate" class="selection-box">
                <input id="endTime" type="time" formControlName="endTime" class="selection-box">
              </div>
            </ng-template>

            <ng-template #priority>
              <div formGroupName="inputData" class="input-field-group">
                <input type="radio" class="light-button" formControlName="degrees" name="degrees" value="high" id="deg-high">
                <label for="deg-high">Высокий</label>

                <input type="radio" class="light-button" name="degrees" value="normal" id="deg-normal">
                <label for="deg-normal">Средний</label>

                <input type="radio" class="light-button" name="degrees" value="low" id="deg-low">
                <label for="deg-low">Низкий</label>
               </div>
            </ng-template>

            <ng-template #listAffiliation>
              <div formGroupName="inputData" class="input-field-group">
                <label for="listId" class="inner-field"></label>
                <select id="listId" name="listId" class="selection-box" formControlName="listId">
                  <option value="none" [defaultSelected]="true" disabled hidden>выберите список</option>
                  <option *ngFor="let list of listService.handleLists | async" value="{{list.id}}">{{list.title}}</option>
                </select>
              </div>
            </ng-template>

            <ng-template #completeness>
              <div formGroupName="inputData" class="input-field-group">
                <input type="radio" class="light-button" formControlName="isCompleted" name="isCompleted" value="completed" id="completed">
                <label for="completed">Завершено</label>

                <input type="radio" class="light-button" name="isCompleted" value="uncompleted" id="uncompleted">
                <label for="uncompleted">Не завершено</label>
              </div>
            </ng-template>

<!--            В разработке-->
<!--            дожить бы до тегов...-->
            <ng-template #userTag>
              <div formGroupName="inputData" class="input-field-group">
                <input type="text" placeholder="userTag">
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="color" class="inner-field">Цвет:</label>
      <input type="color" id="color" name="color" formControlName="color" placeholder="Выбор цвета">
    </div>

    <div class="buttons">
      <label for="create"></label>
      <input type="submit" value="Создать" id="create" name="create" class="wide-button"
             [disabled]="viewModel.form.invalid" (click)="addList()">
    </div>
  </form>
</div>
