.card-body{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
}

.close-button{
  align-self: end;
}

label.inner-field{
  font-family: Roboto-Light, serif;
  font-size: 19px;
  margin-left: 50px;
}

#title{
  margin-left: 50px;
  margin-bottom: 20px;
  width: 450px;
}

#type{
  margin-left: 10px;
  margin-bottom: 13px;
}

#color{
  padding: 0 2px 0 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: end;
}

#create{
  margin-right: 20px;
}

.add-filter-button {
  border: none;
  outline: none;
  background-color: black;
  font-size: 15px;
  font-family: Roboto;
  border-radius: 50px;
  padding: 5px 12px;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
}

#filterType {
  margin-right: 5px;
  margin-bottom: 5px;
}

