.card-body{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
}

.close-button{
  align-self: end;
}

label.inner-field{
  font-family: Roboto-Light, serif;
  font-size: 19px;
  margin-left: 50px;
}

#title{
  margin-left: 50px;
  margin-bottom: 20px;
  width: 450px;
}

#type{
  margin-left: 10px;
  margin-bottom: 13px;
}

#color{
  padding: 0 2px 0 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: end;
}

#create{
  margin-right: 20px;
}

.add-filter-button {
  border: none;
  outline: none;
  background-color: black;
  font-size: 15px;
  font-family: Roboto;
  border-radius: 50px;
  padding: 5px 12px;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
}

#filterType {
  margin-right: 5px;
  margin-bottom: 5px;
}

.input-field-group{
  margin-left: 90px;
  margin-bottom: 10px;
}

.date-input-field-group #startTime {
  margin-left: 10px;
  margin-bottom: 5px;
}

.date-input-field-group #endTime {
  margin-left: 10px;
}

.label {
  display: inline-block;
  width: 25px;
  text-align: end;
  padding-right: 5px;
}

.small-close-button{
  font-size: 10px;
  color: #000000;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 0
}

.small-close-button:hover {
  background-color: #ffe5e5;
  border: 1px solid #ff5959;
  color: #ff6e6e;
}

.small-close-button:active {
  background-color: #ffd5d5;
  border: 1px solid #ff5959;
  color: #ff6e6e;
}

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 5px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
  background-repeat: repeat-x;
  border-radius: 10px;
  border: black solid 1px;
  box-shadow: 2px 2px 1px 1px black;
}

input[type=radio]:checked+label {
  border: #27af39 solid 1px;
  box-shadow: 2px 2px 1px 1px #0b9300;
}

input[type=radio]:hover+label {
  background-color: #f5fff1;
}
