<div class="card">
    <div class="top">
        <header>Настройки</header>
        <button class="close-button" (click)="closeOverlay()">
            <img src="../../../../assets/images/close-icon.svg">
        </button>
    </div>
    <div class="sidebar">
        <p (click)="setChapter('general')">Общие</p>
        <p (click)="setChapter('profile')">Профиль</p>
    </div>
    <div class="sidebar-footer"> </div>
    <div class="settings-content">
        <div *ngIf="true" class="settings-chapter general">
            -+
        </div>
        <div class="settings-chapter profile">

        </div>
    </div>
</div>
