<div class="card">
    <div class="top">
        <header>Настройки</header>
        <button class="close-button" (click)="closeOverlay()">
            <img src="../../../../assets/images/close-icon.svg">
        </button>
    </div>
    <div class="sidebar">
        <p (click)="setChapter('general')">Общие</p>
        <p (click)="setChapter('profile')">Профиль</p>
    </div>
    <div class="sidebar-footer"> </div>
    <div class="settings-content">
        <div *ngIf="chapter ==='general'" class="settings-chapter general">
            Общие
            Формат даты (сделать форму)
        </div>
        <div *ngIf="chapter ==='profile'" class="settings-chapter profile">
            Профиль
            Сменить пароль (сделать форму)
            <div class="red-button" (click)="quitUser()">
                Выйти
            </div>
        </div>
    </div>
</div>
