.content {
    display: flex;
    margin: 5px;
    font-size: 15px;
    flex-direction: column;
}

.date {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Medium, serif;
    cursor: pointer;
}

.otherMonth {
    color: #9a9a9a;
}

.today {
    background-color: black;
    border-radius: 50%;
    color: white;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.35);
}

.task {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    max-height: inherit;
    max-width: inherit;
    overflow: hidden;
    cursor: pointer;
}

.task-selected {
    border-radius: 5px;
    color: white;
    background-color: black;
}

.date:hover {
    border: solid 2px black;
    border-radius: 10px;
}
