.app{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid black;
}

.inner-content{
  padding: 0;
  flex-grow: 1;
}

.menu-header{
  display:inline-block;
  text-align: center;
  font-family: Roboto-Bold, serif;
  font-size: 28px;
  margin: 9px 5% 9px 13%;
  white-space: nowrap;
}

.buttons{
  display: flex;
  margin-right: 25%;
}

img{
  width: 35px;
  height: auto;
  margin-left: 8px;
}

div.menu-button{
  display: flex;
  align-items: center;
  padding: 0 20px 0 25px;
  font-family: Roboto-Light, serif;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.active-button{
  color: #303030 !important;
  background-color: #F9F5F5;
  box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.2);
  border-right: solid black 1px;
  border-left: solid black 1px;
}

div.menu-button:visited{
  color: #747474;
}

div.menu-button:hover{
  background-color: #F2F2F2;
}

div.menu-button:link{
  color: #747474;
}

div.menu-button:active{
  background-color: #ececec;
}

.settings-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 0.5%;
  cursor: pointer;
}
